@font-face {
	font-family: 'Montserrat-LightItalic';
	src: url('../fonts/Montserrat-LightItalic.ttf');
}
@font-face {
	font-family: 'Montserrat-BoldItalic';
	src: url('../fonts/Montserrat-BoldItalic.ttf');
}

body {
	line-height: 17px;
	/* background-color: #E6EAE8; */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%239ea9ba' fill-opacity='0.09' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
	background-size: 25%;
}

a {
	color: #1a72ff;
	text-decoration: none;
}

.top_bar {
	width: 100%;
	min-width: 1050px;
	height: 50px;
	background: white;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
	box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,.135);
}

.logo a{
	font-family: 'Montserrat-Bold', sans-serif;
	margin-left: 1vw;
	font-size: 33;
	line-height: 50px;
	text-shadow: 4px 4px #a2beeb;
	color: #1a72ff;
}

a:hover {
	text-decoration: none;
}

nav {
	float: right;
	right: 1px;
	position: absolute;
	margin-right: 1vw;
}

nav a{
	color: #1a72ff;
	font-size: 18px;
	line-height: 50px;
	margin-left: 2px;
	margin-right: 2px;
	padding: 8px;
	padding-top: 7px;
}
nav a i {
	padding-left: 5px !important;
}

nav a:hover {
	color: white;
	background: #1a72ff;
	border-radius: 12px;
}

.wrapper {
	margin: 0 auto;
	top: 80px;
	position: relative;
	padding: 0 10px;
	width: 90%;
	min-width: 950px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.column {
	background-color: #fff;
	padding: 10px;
	border: 2px solid #cecece;
	border-radius: 5px;
	box-shadow: 3px 3px 1px #cecece;
	z-index: -1;
	color: #555;
}

#sidebar-col {
	width: 300px;
}
#user_details_col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.user_details {
	width: 300px;
	margin-bottom: 20px;
}

.user_details img {
	height: 120px;
	border-radius: 5px;
	margin-right: 5px;
}

.user_details_avatar {
	margin: 3vh auto 0;
}

.user_details_avatar img {
	border-radius: 50%;
	padding: 8px;
	width: 135px;
	height: 135px;
	border: 1.4px solid #d8d8d8;
}

.user_details_info {
	text-align: center;
	font-size: 24px;
	margin-top: 1.5vh;
	font-weight: bold;
}

.user_details_info_counting {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 4vh;
	margin-bottom: 3vh;
	font-weight: normal;
	font-size: 16px;
	color: #999;
}

#popular_col {
	width: 300px;
}
#popular_col h4 {
	color: #1a72ff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.1rem;
}

.main_column {
	float:right;
	width: 70%;
	z-index: 0;
	padding: 0;
	display: flex;
	flex-direction: column;	
}


#main_column {
	text-align: center;
}

.post_form {
	width: 100%;
	padding: 12px 15px 10px;
}


.post_form textarea {
	width: 87%;
	border-radius: 3px;
	margin-right: 5px;
	border: none;
	font-size: 16px;
	padding: 5px;
}

textarea:focus {
	outline: 0;
}

.post_form input[type="submit"] {
	width: 8%;
	border: none;
	min-height: 7vh;
	border-radius: 15px;
	background-color: #1a72ff;
	font-family: 'Montserrat-Bold', sans-serif;
	color: white;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 22px;
	position: absolute;
	outline: 0;
	margin: 0;
}

.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px;
}

.posts_area {
	padding: 10px 15px;
	margin-top: 2vh;
}
.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
	cursor:pointer;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 5px;
}
#post_body {
	margin-top: 2vh;
	margin-left: 3vw;
}
.post_comment {
	background: white;
}
#comment_iframe {
	max-height: 250px;	
	width: 100%;
}

.comment_section {
	padding: 0 5px 5px 5px;
}

.comment_section img {
	margin: 0 3px 3px 3px;
	border-radius: 3px;
}

#comment_form textarea {
	border-color: #D3D3D3;
	width: 85%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}
#comment_form input[type="submit"] {
	border:none;
	background-color: #1a72ff;
	color: white;
	border-radius: 5px;
	width: 13%;
	height: 35px;
	margin-top: 3px;
	position: absolute;
	font-family: 'Montserrat-Bold', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}
.newsfeedPostOptions {
	padding: 0px;
	text-decoration: none;
	color:#1a72ff;
	border:none;
}

.newsfeedPostOptions iframe {
	border: 0px;
	height: 17px;
	width: 120px;
}

.comment_like {
	background-color: transparent;
	border: none;
	font-size: 15px;
	/* color: #3498db; */
	padding: 0;
	height: auto;
	width: auto;
	margin: 0;
	padding-top: 3px;
    text-decoration: none;
    color: #1a72ff;
}
.comment_like input[type=submit] {
	font-family: FontAwesome;
}

.like_value {
	display: inline;
	font-size: 14px;
}
	
body {
	line-height: 17px;
	/* background-color: #E6EAE8; */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%239ea9ba' fill-opacity='0.09' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
	background-size: 25%;
}

a {
	color: #1a72ff;
	text-decoration: none;
}

.top_bar {
	width: 100%;
	min-width: 1050px;
	height: 50px;
	background: white;
	/* background-color: #1a72ff; */
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
	box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,.135);
}

.logo a{
	font-family: 'Montserrat-Bold', sans-serif;
	margin-left: 1vw;
	font-size: 33;
	line-height: 50px;
	text-shadow: 4px 4px #a2beeb;
	color: #1a72ff;
}

a:hover {
	text-decoration: none;
}

nav {
	float: right;
	right: 1px;
	position: absolute;
	margin-right: 1vw;
}

nav a{
	color: #1a72ff;
	font-size: 18px;
	line-height: 50px;
	margin-left: 2px;
	margin-right: 2px;
	padding: 8px;
	padding-top: 7px;
}
nav a i {
	padding-left: 5px !important;
}

nav a:hover {
	color: white;
	background: #1a72ff;
	border-radius: 12px;
}

.wrapper {
	margin: 0 auto;
	top: 80px;
	position: relative;
	padding: 0 10px;
	width: 90%;
	min-width: 950px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.column {
	background-color: #fff;
	padding: 10px;
	border: 2px solid #cecece;
	border-radius: 5px;
	box-shadow: 3px 3px 1px #cecece;
	z-index: -1;
	color: #555;
}

#sidebar-col {
	width: 300px;
}
#user_details_col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.user_details {
	width: 300px;
	margin-bottom: 20px;
}

.user_details img {
	height: 120px;
	border-radius: 5px;
	margin-right: 5px;
}

.user_details_avatar {
	margin: 3vh auto 0;
}

.user_details_avatar img {
	border-radius: 50%;
	padding: 8px;
	width: 135px;
	height: 135px;
	border: 1.4px solid #d8d8d8;
}

.user_details_info {
	text-align: center;
	font-size: 24px;
	margin-top: 1.5vh;
	font-weight: bold;
}

.user_details_info_counting {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 4vh;
	margin-bottom: 3vh;
	font-weight: normal;
	font-size: 16px;
	color: #999;
}

#popular_col {
	width: 300px;
}
#popular_col h4 {
	color: #1a72ff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.1rem;
}

.main_column {
	float:right;
	width: 70%;
	z-index: 0;
	padding: 0;
	display: flex;
	flex-direction: column;	
}


#main_column {
	text-align: center;
}

.post_form {
	width: 100%;
	padding: 12px 15px 10px;
}


.post_form textarea {
	width: 87%;
	border-radius: 3px;
	margin-right: 5px;
	border: none;
	font-size: 16px;
	padding: 5px;
}

textarea:focus {
	outline: 0;
}

.post_form input[type="submit"] {
	width: 8%;
	border: none;
	min-height: 7vh;
	border-radius: 15px;
	background-color: #1a72ff;
	font-family: 'Montserrat-Bold', sans-serif;
	color: white;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 22px;
	position: absolute;
	outline: 0;
	margin: 0;
}

.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px;
}

.posts_area {
	padding: 10px 15px;
	margin-top: 2vh;
}
.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
	cursor:pointer;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 5px;
}
#post_body {
	margin-top: 2vh;
	margin-left: 3vw;
}
.post_comment {
	background: white;
}
#comment_iframe {
	max-height: 250px;	
	width: 100%;
}

.comment_section {
	padding: 0 5px 5px 5px;
}

.comment_section img {
	margin: 0 3px 3px 3px;
	border-radius: 3px;
}

#comment_form textarea {
	border-color: #D3D3D3;
	width: 85%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}
#comment_form input[type="submit"] {
	border:none;
	background-color: #1a72ff;
	color: white;
	border-radius: 5px;
	width: 13%;
	height: 35px;
	margin-top: 3px;
	position: absolute;
	font-family: 'Montserrat-Bold', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}
.newsfeedPostOptions {
	padding: 0px;
	text-decoration: none;
	color:#1a72ff;
	border:none;
}

.newsfeedPostOptions iframe {
	border: 0px;
	height: 17px;
	width: 120px;
}

.comment_like {
	background-color: transparent;
	border: none;
	font-size: 15px;
	/* color: #3498db; */
	padding: 0;
	height: auto;
	width: auto;
	margin: 0;
	padding-top: 3px;
	text-decoration: none;
	color: #1a72ff;
}
.comment_like input[type=submit] {
	font-family: FontAwesome;
}

.like_value {
	display: inline;
	font-size: 14px;
}

.profile_left {
	width: 300px;
	height: 100%;
	float: left;
	color: #CBEAF8;
	background-color: #fff;
	padding: 10px;
	border: 2px solid #cecece;
	border-radius: 5px;
	box-shadow: 3px 3px 1px #cecece;
	padding-bottom: 3vh;
}

.profile_left img {
	border-radius: 50%;
	padding: 8px;
	width: 135px;
	height: 135px;
	border: 1.4px solid #d8d8d8;
	display: block;
	margin: 3vh auto 0;
}
.profile_left .profile-full-name {
    text-align:center;
    color: #1a72ff;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1.5vh;
}

.danger {
	background-color: #e74c3c;
}
.warning {
	background-color: #f0ad4e;
}
.default {
	background-color: #bdc3c7;
}
.success {
	background-color: #2ecc71;
}
.info {
	background-color: #3498db;
}
.deep_blue {
	background-color: #0043f0;
}

#accept_button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #2ecc71;
}
#ignore_button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #e74c3c;
}

.delete_button {
	height: 22px;
	width: 22px;
	padding: 0;
	float: right;
	border-radius: 4px;
	right: -15px;
	position: relative;
}

.profile_main_column {
	float:right;
	width: 70%;
	z-index: 0;
	padding: -1;
}


#message_textarea {
	width: 80%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
}
#message_submit {
	height: 41px;
	width: 120px;
	margin: 0;
	position: absolute;
	border:none;
	background-color: #1a72ff;
	color: white;
	border-radius: 5px;
	font-family: 'Montserrat-Bold', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}
.message {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}

.message#blue {
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 5px;
}
.message#green {
	background-color: #2ecc71;
	border-color: #27ae60;
	float: left;
	margin-bottom: 5px;
}

.loaded_messages {
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: auto;
	margin-bottom: 10px;
}

.loaded_conversations {
	max-height: 216px;
	overflow: auto;
}

.user_found_messages {
	border-bottom: 1px solid #D3D3D3;
	padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
	background-color: #D3D3D3;
}

.user_found_messages img {
	height: 35px;
	float: left;
}

#grey {
	color: #8C8C8C;
}

.resultDisplay {
	padding: 5px 5px 0 5px;
	height: 70px;
	border-bottom: 1px solid #D3D3D3;
}
.resultDisplay a {
	float: none;
}
.resultDisplay:hover {
	background-color: #EBEBEB;
	text-decoration: none;
}
.liveSearchProfilePic img {
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.liveSearchText {
	background-color: transparent;
	color: #393a4f;
}

.liveSearchText p{
	margin-left: 10px;
	font-size: 12px;
	margin-bottom: 0;
}

.tab-content {
	margin-top: 25px;
}

.dropdown_data_window {
	background-color: #fff;
	border: 1px solid #DADADA;
	border-radius: 0 0 8px 8px;
	border-top: none;
	width: 300px;
	position: absolute;
	right: 10px;
	top: 40px;
	overflow: auto;
}

.notification_badge {
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: absolute;
	left: 8px;
	top: -5px;
}

.resultDisplayNotification {
	height: auto;
	color: #1485BD;
	padding-bottom: 7px;
}

.resultDisplayNotification img {
	height: 40px;
	border-radius: 5px;
	margin: 1px 12px 0px 2px;
	float: left;
}

.timestamp_smaller {
	font-size: 85%;
	margin: 0;
}

.search {
	/* margin: 8px 0 0 15%; */
	margin: 0 auto;
	padding-top: 6px;
}

.search #search_text_input {
	border: thin solid #E5E5E5;
		float: left;
		height: 38px;
		outline: 0;
		width: 250px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	font-size: 15px;
	padding: 5px 10px;	
}

.button_holder {
	background-color: #1a72ff;
		cursor: pointer;
		float: left;
	height: 38px;
		text-align: center;
		width: 44px;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
}

.button_holder svg {
	font-size: 20px;
	margin-top: 9px;
	color: white;
	font-weight: bold;
}

.search_results {
	background-color: #fff;
	border: 1px solid #DADADA;
	border-bottom: none;
	border-top: none;
	margin-top: 21px;
}

.search_results_footer{
	padding: 7px 4px 0px 4px;
	height: 30px;
	border: 1px solid #DADADA;
	border-top: none;
	background-color: #1a72ff;
	text-align: center;
}

.search_results_footer a {
	color: #fff;
}

.search_result {
	padding: 10px;
	height: 100px;
}

.searchPageFriendButtons {
	float: right;
}

.searchPageFriendButtons input[type="submit"] {
	border: none;
	padding: 7px 12px;
	border-radius: 5px;
	color: #fff;
}

.result_profile_pic {
	float: left;
	margin-right: 10px;
}

#search_hr {
	margin-bottom: 0px;
}

.small_profile_pic {
	height: 55px;
	margin: 1px 12px 0 2px;
	float: left;
}

#settings_input {
	border: 1px solid #ccc;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 20px;
}

.settings_submit {
	border: none;
	padding: 7px 12px;
	border-radius: 5px;
	color: #fff;
}


.message .deleteButton {
	color: #fff;
	margin: 0 5px 5px 0;
	cursor: pointer;
}

.postedImage img {
	max-height: 300px;
	max-width: 100%;
	display: block;
	margin: 5px auto;
}
#setting-box {
	min-height:700px;
	text-align: center;	
}
#search-page-wrapper {
	width: 60%;
	padding: 0 10%;
	min-height: 18vh;
	/* text-align: center; */
}
#post-wrapper {
	min-height: 34vh;
}

.profile_left img {
	border-radius: 50%;
	padding: 8px;
	width: 135px;
	height: 135px;
	border: 1.4px solid #d8d8d8;
}

.profile_info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 4vh;
	margin-bottom: 3vh;
	font-weight: normal;
	font-size: 16px;
	color: #999;
	text-align: center;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.danger {
	background-color: #e74c3c;
}
.warning {
	background-color: #f0ad4e;
}
.default {
	background-color: #bdc3c7;
}
.success {
	background-color: #2ecc71;
}
.info {
	background-color: #3498db;
}
.deep_blue {
	background-color: #0043f0;
}

.profile_left input[type="submit"] {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	border: none;
	margin: 0 5%;
	color: #fff;
}

#accept_button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #2ecc71;
}
#ignore_button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #e74c3c;
}

.delete_button {
	height: 22px;
	width: 22px;
	padding: 0;
	float: right;
	border-radius: 4px;
	right: -15px;
	position: relative;
}

.profile_main_column {
	float:right;
	width: 70%;
	z-index: 0;
	padding: -1;
}


.profile_info_bottom {
	margin-top: 10;

}

#message_textarea {
	width: 80%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
}
#message_submit {
	height: 41px;
	width: 120px;
	margin: 0;
	position: absolute;
	border:none;
	background-color: #1a72ff;
	color: white;
	border-radius: 5px;
	font-family: 'Montserrat-Bold', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}
.message {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}

.message#blue {
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 5px;
}
.message#green {
	background-color: #2ecc71;
	border-color: #27ae60;
	float: left;
	margin-bottom: 5px;
}

.loaded_messages {
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: auto;
	margin-bottom: 10px;
}

.loaded_conversations {
	max-height: 216px;
	overflow: auto;
}

.user_found_messages {
	border-bottom: 1px solid #D3D3D3;
	padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
	background-color: #D3D3D3;
}

.user_found_messages img {
	height: 35px;
	float: left;
}

#grey {
	color: #8C8C8C;
}

.resultDisplay {
	padding: 5px 5px 0 5px;
	height: 70px;
	border-bottom: 1px solid #D3D3D3;
}
.resultDisplay a {
	float: none;
}
.resultDisplay:hover {
	background-color: #EBEBEB;
	text-decoration: none;
}
.liveSearchProfilePic img {
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.liveSearchText {
	background-color: transparent;
	color: #393a4f;
}

.liveSearchText p{
	margin-left: 10px;
	font-size: 12px;
	margin-bottom: 0;
}

.tab-content {
	margin-top: 25px;
}

.dropdown_data_window {
    background-color: #fff;
    border: 1px solid #DADADA;
    border-radius: 0 0 8px 8px;
    border-top: none;
    width: 300px;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow: auto;
}

.notification_badge {
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: absolute;
	left: 8px;
	top: -5px;
}

.resultDisplayNotification {
	height: auto;
    color: #1485BD;
    padding-bottom: 7px;
}

.resultDisplayNotification img {
    height: 40px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.timestamp_smaller {
	font-size: 85%;
	margin: 0;
}

.search {
	/* margin: 8px 0 0 15%; */
	margin: 0 auto;
	padding-top: 6px;
}

.search #search_text_input {
	border: thin solid #E5E5E5;
  	float: left;
  	height: 38px;
  	outline: 0;
  	width: 250px;
  	border-top-right-radius: 0;
  	border-bottom-right-radius: 0;
  	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	font-size: 15px;
	padding: 5px 10px;	
}

.button_holder {
	background-color: #1a72ff;
  	cursor: pointer;
  	float: left;
	height: 38px;
  	text-align: center;
  	width: 44px;
  	border-top-right-radius: 15px;
  	border-bottom-right-radius: 15px;
}

.button_holder svg {
	font-size: 20px;
	margin-top: 9px;
	color: white;
	font-weight: bold;
}

.search_results {
	background-color: #fff;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
    margin-top: 21px;
}

.search_results_footer{
	padding: 7px 4px 0px 4px;
    height: 30px;
    border: 1px solid #DADADA;
    border-top: none;
    background-color: #1a72ff;
    text-align: center;
}

.search_results_footer a {
	color: #fff;
}

.search_result {
	padding: 10px;
    height: 100px;
}

.searchPageFriendButtons {
	float: right;
}

.searchPageFriendButtons input[type="submit"] {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}

.result_profile_pic {
	float: left;
    margin-right: 10px;
}

#search_hr {
	margin-bottom: 0px;
}

.small_profile_pic {
	height: 55px;
    margin: 1px 12px 0 2px;
    float: left;
}

#settings_input {
	border: 1px solid #ccc;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
}

.settings_submit {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}


.message .deleteButton {
   color: #fff;
   margin: 0 5px 5px 0;
   cursor: pointer;
}

.postedImage img {
	max-height: 300px;
    max-width: 100%;
    display: block;
    margin: 5px auto;
}
#setting-box {
	min-height:700px;
	text-align: center;	
}
#search-page-wrapper {
	width: 60%;
	padding: 0 10%;
	min-height: 18vh;
	/* text-align: center; */
}
#post-wrapper {
	min-height: 34vh;
}